/* AUTHBOX */
/* - - - - - - - - - - -  */
.authBox {}

/* LOGIN PAGE */
/* - - - - - - - - - - -  */

.loginFootPos {
  margin-top: 2em;
}

.petPeekLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -65px;
}

@media (max-width: 600px) {
  .petPeekLogin {
    width: 80% !important;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .petPeekLogin {
    width: 50% !important;
    height: auto;
  }
}

@media (min-width: 901px) {
  .petPeekLogin {
    width: 40% !important;
    height: auto;
  }
}

.loginFooter {
  display: flex;
  width: 100% !important;
  height: 6em;
  background-color: #138086 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


/* REGISTER PAGE */
/* - - - - - - - - - - -  */

.regFootPos {
  margin-top: 2em;
}

.petPeekReg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -65px;
}

@media (max-width: 600px) {
  .petPeekReg {
    width: 80% !important;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .petPeekReg {
    width: 50% !important;
    height: auto;
  }
}

@media (min-width: 901px) {
  .petPeekReg {
    width: 40% !important;
    height: auto;
  }
}

.regFooter {
  display: flex;
  width: 100% !important;
  height: 6em;
  background-color: #138086 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* PROFILE */
/* - - - - - - - - - - -  */
.dashboardContainer {
  display: flex;
  box-shadow: 8px 8px 5px #3030309e;
  max-width: 98vw !important;
  border: 1px solid #3d3d3dbd;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 2em;
  border-radius: 12px;
}

.petPeeking {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 94%;
  margin-bottom: -23px !important;
}

.catReach {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 0px !important;
  height: 0px !important;
}

.catReach img {
  /* height: 50%;
  width: auto; */
}

.dashboardHead {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #534666;
  color: rgba(255, 255, 255, 0.653);
  height: 2.5em;
  margin-top: 0;
  width: inherit;
  vertical-align: middle;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.userH1 {
  text-align: center;
}

.changeBtn {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  margin-bottom: 1.5em !important;
  background-color: none;
}

#addPetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardDetailsBox {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #3030307f;
}

/* Access Error Message */
/* - - - - - - - - - - -  */
.errorLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem !important;
  color: #0b4548;
}

.errorText {
  text-align: center;
  color: #0b4548;
  font-weight: 600;
  padding-left: 7%;
  padding-right: 7%;
  line-height: 3rem;
}


.errorContainer {
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  box-shadow: 8px 8px 5px #3030309e;
  max-width: 60vw !important;
  border: 1px solid #3d3d3dbd;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 12px;
}

.errorBox {
  height: 45vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorHead {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #EEB462;
  color: #36393F;
  height: 2.5em;
  margin-top: 0;
  width: inherit;
  vertical-align: middle;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.errorLogin {
  background: #b6afa5;
  color: #36393F;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  width: 50%;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
  
  
