.item1 {
  color: #DC8665;
}
.item2 {
  color: #138086;
}
.item3 {
  color: #534666;
}
.item4 {
  color: #CD7672;
}
.item5 {
  color: #EEB462;
  color: #ebb56a;
}
.item6 {
  color: #36393F;
  color: #36393f62;
}