.crouch {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 0px !important;
  height: 0px !important;
}

.footLink {
  text-decoration: none !important;
  color: #000000 !important
}

.footLink:hover {
  color: #EEB462 !important;
  cursor: pointer;
}