.hero-container {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: -1;

}
.hero-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 44%;
  height: auto;
  margin-top: 1.5em;
}